.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  font-family: 'Inconsolata', monospace;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 16px;

}

.buscar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

